/* Imported the font*/

@font-face {
    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}

p, h1, h2, h3, nav {
    font-family: "Roboto";
    color: black;
}

body {
    background-color: white;
}

/* Header CSS */

a:hover {
    color:red;
}


.copyright {
    text-align: center;
    font-size: 15px;
}


hr {
    border-color:brown;
}


.cart-icon {
    width: 40px; /* Icon size */
    height: 20px; /* Icon size */
    margin-right: 1px; /* Space between icon and text */
    cursor: pointer;
    top: 10px;
    right:20px;
    position: absolute;
    padding: 50px 20px;
    font-size: 16px;
    display: flex;
}

.logo {
    display:flex;
    justify-content:center;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: white;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

/* CSS for items */

.items, .cart {
    display: inline-block;
    position: static;
    padding: 10px;
    box-sizing: content-box;
    border: 2px solid white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.items h2, .items p, .cart h2, .cart p {
    margin-left: auto;
    margin-right: auto;
}
.items button, .cart button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
.container {
    width: 300px;
    height: 300px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Hide overflow to keep the image in the frame */
    justify-content: space-between;
    align-items: center;
}
.container img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

h1 {
    font-size: 3rem;
}
.checkout {
    float: right;
    font-size: 1.5rem;
}

.shopmart {
    text-align: center;
}

.login {
    text-align: left;
    margin-left: 50px;
    padding-left: 90px;
    margin-right:90px;
    color:black;
}

.signup {
    text-align: left;
    margin-left: 60px;
    padding-right: 60px;
    margin-right:50px;
    color:black;
}
.form-group {
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: center ;
    display: flex;
} 
.log-group {
    display: flex;
    text-align: center ;
    }

#contact {
    text-align: center;
}

#about {
    text-align: center;
}

/* Adjusting page for different screen sizes */

@media screen and (max-width: 480px){
    p {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2, h3 {
        font-size: 1rem;
    }
    
    button {
        font-size: 0.5rem;
    }

    .items, .cart {
        width: 150px;
    }

    .container {
        width: 175px;
        height: auto;
    }

    .container img {
        height: 150px;
    }

    nav {
        font-size: 0.75rem;
    }

    .logo {
        height: 150px;
    }
}
